__pycache__
.DS_Store
.venv
venv
.vscode
sudoku_squares
typed_digits
digit_templates
sudoku_2.png
sudoku_3.jpg
sudoku_4.jpeg
Sudoku9.jpg
sudoku_image.png
sudoku.png
Screenshot 2025-03-12 at 4.19.17 PM.png
